{% extends 'base.html.twig' %}


{% block body %}


<h1>Panel admin</h1>

 <a href="{{ path('product_index') }}"><button type="button" class="btn btn-primary">Listado productos</button></a>
 <a href="{{ path('brand_index') }}"><button type="button" class="btn btn-primary">Listado de brands</button></a>


{% endblock %}

