{% extends 'base.html.twig' %}

{% block body %}
<h1>Product creation</h1>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-6">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-success" type="submit" value="Create" />
            {{ form_end(form) }}
            
            <a class="btn btn-primary" href="{{ path('product_index') }}">Back to the list</a>
             
        </div>
    </div>
</div>

{% endblock %}