{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block body %}

<div class="row" style="padding:3em;">

        {% for sunglasses in sunglasses%}

            <div class="col-lg-4 col-md-6 col-sm-12" style="color:black; padding:2em;">
                <a href="/shop">
                    <div class="card">
                        <img alt="..." class="card-img-top" src="/img/{{sunglasses.photo}}">
                        <div class="card-body">
                            <h5 class="card-title">{{sunglasses.categoria}}</h5>
                            <p class="card-text text-center">{{sunglasses.precio}}€</p>
                        </div>
                    </div>
                </a>
            </div>

        {% endfor %}
    </div>



{% endblock %}