{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block body %}



    <div style="display:flex;align-items:center;">
            
            <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Profile</div>
                    <div class="card-body">
                        <h4 class="card-title">Usuario:<h1 class="card-text"> {{app.user.username}}</h1></h4>
                        
                        
                <h4 class="card-title">Id:<h5 class="card-text"> {{app.user.id}}</h5></h4>
                
                <h4 class="card-title">Email:<h5 class="card-text"> {{app.user.email}}</h5></h4>
                
                
            </div>
        </div>
        
    </div>




{% endblock %}